* {
  margin: 0;
  /* background-color: lightgray; */
  /* background: url("https://wallpapercave.com/wp/Yad5yKT.jpg") no-repeat; */
  mask-image: linear-gradient(to bottom rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
