.dashboard {
  background-image: linear-gradient(hsla(39, 100%, 50%, 0.575), lightblue);
}
.dashboard__left {
  float: left;
  padding: 20px;
  width: 50%;
  height: 1200px;
}
.dashboard__right {
  float: left;
  padding: 20px;
  width: 50%;
  height: 1200px;
  background-size: 100% 100%;
}
.dashboard__video {
  margin-top: 150px;
}
