.rent {
  background-color: white;
}
.rent__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.rent__container > h1 a {
  text-decoration: none;
}

.rent__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
.rent__title {
  margin: 0;
}
.rent__address,
.rent__items,
.rent__details {
  flex: 0.8;
}
.rent__details > form {
  max-width: 400px;
}
.rent__details > {
}
.rent__details > form > div > {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
